p {
  font-family: "Times New Roman", Times, serif;
}

#homesection{
  background-image: url("../images/!!img014 kopie.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#homesection .navbar{padding-top:2.2vh;padding-bottom:2.2vh;}
